@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
input:focus ,textarea:focus{
    outline: none;
}
::placeholder {
    color: #888;
}
body {
    background-image:linear-gradient(rgba(0, 0, 255, 0.3),rgba(0, 255, 255, 0.5))
    ,url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container {
    width: 35%;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 165px;
}
.container h1 {
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
}
.container form span {
    color: red;
}
.name {
    margin-top: 30px;
}
.name p {
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
}
.name input {
    width: 350px;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

.email {

}
.email p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    color: #FFF;
}
.email input {
    width: 350px;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

.subject {

}
.subject p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    color: #FFF;
}
.subject input {
    width: 350px;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 5px;
}
.message {

}
.message p{
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    color: #FFF;
}
.message textarea {
    width: 480px;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 150px;
    margin-top: 5px;
}
.container form button {
    margin-top: 10px;
    padding: 10px 40px;
    background-color: green;
    cursor: pointer;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}
.container form button:hover {
    background-color: orange;
    color: #222;
}