@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
input:focus ,textarea:focus{
    outline: none;
}
body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.contact-form {
    width: 1000px;
    height: 500px;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 10px;
}
.contact-form:after {
    content: ;
    display: block;
    clear: both;
}
.contact-form form {
    padding: 50px;
}
.contact-form form h2 {
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    color: #444;
}

.contact-form .name {
    display: inline-block;
    margin-top: 30px;
}
.contact-form .name p {
    font-size: 12px;
    color: #555;
}
.contact-form .name input {
    padding: 10px 0px;
    box-sizing: border-box;
    width: 400px;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 13px;
}
.contact-form .email {
    display: inline-block;
    margin-top: 30px;
}
.contact-form .email p {
    font-size: 12px;
    color: #555;
    margin-left: 20px;
}
.contact-form .email input {
    padding: 10px 0px;
    box-sizing: border-box;
    width: 400px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 13px;
}
.contact-form form .textarea p {
    display: block;
    margin-top: 30px;
    font-size: 12px;
    color: #555;
}
.contact-form form .textarea textarea {
    width: 92%;
    height: 100px;
    border: none;
    border-bottom: 1px solid #999;
    margin-top: 10px;
    font-size: 13px;
}
.contact-form form button {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    border-radius: 100px;
    border: none;
    background-color: rgb(255, 0, 98);
    color: #FFF;
    font-weight: 600;
    font-size: 13px;
}