@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
input:focus ,textarea:focus{
    outline: none;
}
::placeholder {
    color: #999;
}
body {
    background-image:linear-gradient(rgba(0, 0, 255, 0.3),rgba(0, 255, 255, 0.5))
    ,url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container {
    width: 40%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 35px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 10px;
}
.container h3{
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}
.container p {
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    margin-top: 5px;
}
.container form {
    margin-top: 50px;
}
.container form input ,.container form textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: #444;
}
.container form textarea {
    height: 120px;
}
.container form button {
    width: 150px;
    padding: 10px 0px; 
    margin-top: 15px;
    border-radius: 3px;
    border: none;
    background-color: rgb(20, 188, 255);
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}
.container form button:hover {
    background-color: tomato;
}