@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
input:focus ,textarea:focus{
    outline: none;
}
::placeholder {
    color: #FFF;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 128, 0, 0.3)) 
    ,url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container {
    width: 60%;
    height: 500px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}
.container h1 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    border-bottom: 2px solid #FFF;
}
.container p {
    color: rgb(236, 236, 236);
    font-size: 18px;
}
.container .contact-form {
    width: 60%;
    height: 320px;
    margin: auto;
    margin-top: 10px;
}
.container .contact-form form {
    
}
.container .contact-form form input ,
.container .contact-form form textarea
{
    display: block;
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #FFF;
    background: transparent;
    color: #FFF;
}
.container .contact-form form textarea {
    height: 140px;
}
.container .contact-form form button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #FFF;
    color: #FFF;
    background: transparent;
    margin-top: 15px;
    margin-left: 324px;
}