@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
input:focus ,textarea:focus{
    outline: none;
}
::placeholder {
    color: #888;
}
body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.contact-form {
    width: 400px;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 75px;
    left: 100px;
    border-radius: 6px;
}
.contact-form h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
.contact-form p:nth-child(2) {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}
.contact-form form input , .contact-form form textarea {
    display: block;
    width: 100%;
    padding: 14px 0px 14px 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}
.contact-form form textarea {
    height: 100px;
}
.contact-form form button {
    width: 100%;
    padding: 14px 0px;
    box-sizing: border-box;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #ff9b3d;
    cursor: pointer;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.contact-form a {
    text-decoration: none;
    cursor: pointer;
    color: #ff9b3d;
    font-size: 14px;
    font-weight: 500;
}
.contact-form p:nth-child(4) {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}