@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
input:focus ,textarea:focus{
    outline: none;
}
body {
    background-image:linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.5),rgba(255, 255, 0, 0.5)) 
        ,url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.contact-form {
    width: 500px;
    height: 500px;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.contact-form form {
    padding: 50px;
}
.contact-form form h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #444;
}
.contact-form form input,.contact-form form textarea {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    font-size: 12px;
}
.contact-form form textarea {
    height: 100px;
}
.contact-form form button {
    width: 180px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 30px;
    border: none;
    background-image: linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.7),rgba(255, 255, 0, 0.7)) ;
    color: #000;
}